<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo_mysql.mapper.ContentMapper">
    <resultMap id="starResultMap" type="com.example.demo_mysql.pojo.content">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="newsId" property="newsId"/>
        <result column="content" property="content"/>
        <result column="time" property="time"/>
        <result column="userImage" property="userImage"/>
        <result column="username" property="username"/>
    </resultMap>

    <select id="selectContentByNId" resultType="com.example.demo_mysql.pojo.content" resultMap="starResultMap">
        select * from content where newsId = #{id}
    </select>
    <insert id="addContent">
        insert into content (userId,newsId,userImage,content,time,username) values (#{uId},#{nId},#{uImage},#{content},#{time},#{uName})
    </insert>




</mapper>